<!DOCTYPE HTML>
<html>
  <head>
    <script src="https://cdn-webgl.wrld3d.com/wrldjs/dist/latest/wrld.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.1/leaflet.css" rel="stylesheet" />
  </head>
  
  <body>
  <div style="position: relative">
    <div id="map" style="height: 100vh"></div>
    <script>
    
      var map = L.Wrld.map("map", "956198da4d9cfb1994cc71da58e0196f", {
        center: [37.7858, -122.401],
        zoom: 16
      });
   
      setTimeout(function() {
      	map.setCameraHeadingDegrees(45).setCameraTiltDegrees(20);
      }, 1000);
      setTimeout(function() {
      	map.setView([37.802, -122.4058], 18, {
          headingDegrees: 270,
          animate: true,
          durationSeconds:5
        });
      }, 5000);
      setTimeout(function() {
      	var bounds = L.latLngBounds([37.786647, -122.407015], [37.798886, -122.395116]);
      	map.fitBounds(bounds);
      }, 5000);
   
    </script>

  </div>
  </body>
</html>